@import '/src/styles/variables';

.root {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 64px;
	height: 58px;
	padding: 0 22px;
	transition: 0.24s;
	user-select: none;
	overflow: hidden;
	color: $black;
	border-radius: $b-radius-16;
	white-space: nowrap;
	cursor: pointer;

	&.lessSize {
		height: 52px;
		padding: 0 20px;
	}

	&.moreSize {
		height: 64px;
		padding: 0 32px;
	}

	&.primary {
		background-color: $blue;
		color: $white;

		&:hover {
			background-color: $black;
		}
	}

	&.secondary {
		background-color: $button-secondary;

		&:hover {
			background-color: darken($button-secondary, 10%);
		}
	}

	&.black {
		background-color: $black;
		color: $white;

		&:hover {
			background-color: $blue;
		}
	}

	&.white {
		background-color: $white;

		&:hover {
			background-color: $black;

			.rel {
				color: $white;
			}
			.abs {
				color: $white;
			}
		}
	}

	&.rounded {
		border-radius: $b-radius-36;
	}

	&.stretch {
		flex: 1;
	}

	.rel {
		position: relative;
		pointer-events: none;
		transition: 0.24s;
		gap: 8px;
		display: flex;
		align-items: center;
	}

	.abs {
		position: absolute;
		transform: translateY(150%);
		pointer-events: none;
		opacity: 0;
		transition: 0.24s;
		gap: 8px;
		display: flex;
		align-items: center;
	}

	&:hover {
		.rel {
			position: absolute;
			transform: translateY(-150%);
			opacity: 0;
		}
		.abs {
			position: relative;
			transform: translateY(0);
			opacity: 1;
		}
	}

	&:active {
		transform: scale(0.96);
	}

	&:disabled {
		pointer-events: none;
	}
}
