@import 'styles/Variables';

.root {
	font-weight: bold;
	cursor: pointer;

	color: inherit;
	text-decoration: var(--accent-brand-color) underline !important;

	&:visited {
		text-decoration-color: var(--text-secondary) !important;
	}
}
