@import 'assets/styles/Variables';

.root {
	position: fixed;
	z-index: 1000;
	pointer-events: none;
	transform: translate3d(0, 0, 0);

	.content {
		animation: scale-in 0.24s ease-in forwards;

		svg {
			animation: slide-in 0.24s ease-in forwards;
		}
	}
}

@keyframes scale-in {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes slide-in {
	0% {
		transform: translate(-100%, 100%);
	}
	100% {
		transform: translate(0, 0);
	}
}
