@import 'styles/Variables';

.root {
	// @include ui-size-control(100%);
	@include ui-flex-container(flex, $flow: column);

	position: relative;

	background-color: var(--field-background);
	border-radius: clamp($ui-rounded--xl, 3vmax, $ui-rounded--2xl);
	overflow: hidden;

	// box-shadow: 0 0 0 1px var(--separator);

	outline: 1px solid var(--separator);
	outline-offset: -1px;
}

.padding {
	padding: $ui-outer-padding;
	gap: $ui-outer-padding;
}
