@import 'assets/styles/Variables';

.root {
	@include ui-size-control(100%);
	@include ui-flex-container(flex, $flow: column);

	background-color: var(--field-background);
	border-radius: clamp($ui-rounded--xl, 3vmax, $ui-rounded--2xl);
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 0 1px var(--separator);
}

.padding {
	padding: $ui-outer-padding;
	gap: $ui-outer-padding;
}
