@import 'styles/Variables';

.root {
	cursor: default;

	.image {
		@include ui-flex-container(flex, center, center);

		overflow: hidden;
		border-radius: 50%;
		isolation: isolate;
		background: var(--background--alpha);
		color: var(--text-secondary);

		aspect-ratio: 1 / 1;

		img {
			@include ui-size-control(100%, 100%);
		}
	}
}
