@import 'assets/styles/Variables';

.root {
	@include ui-size-control(fit-content);
	@include ui-flex-container($shrink: 0);

	position: relative;
	overflow: hidden;
	transition: 0.12s ease-in;

	outline: 0px solid var(--separator);
	outline-offset: 0px;

	filter: blur(0px);

	.in {
		@include ui-size-control(100%, 100%);
		@include ui-flex-container(flex, center, center);

		user-select: none;

		.before,
		.after {
			@include ui-flex-container(flex, $shrink: 0);

			// outline: 10px solid var(--accent-negative-color);
			// border-radius: 50%
		}

		// .before {
		// 	padding-left: $ui-step;
		// }

		// .after {
		// 	padding-right: $ui-step;
		// }

		.content {
			@include ui-text-ellipsis;

			box-sizing: border-box;

			font-family: $ui-font-secondary;
			font-weight: normal;
		}
	}

	&:active {
		scale: 0.972;
	}

	&:focus-visible {
		outline: 2px solid var(--separator--alpha);
		outline-offset: 2px;
	}
}

.button-icon {
	.in {
		padding: $ui-step !important;

		.before,
		.after {
			padding: 0;
		}
	}
}

// mode

// primary

@mixin ui-primary-appearance-button($color, $background, $hover) {
	color: $color;
	background: $background;

	&:hover {
		background: $hover;
	}
}

.mode-primary.accent {
	@include ui-primary-appearance-button(
		var(--text-contrast),
		var(--accent-brand-color),
		var(--accent-brand-color--hover)
	);
}

.mode-primary.positive {
	@include ui-primary-appearance-button(
		var(--text-contrast),
		var(--accent-positive-color),
		var(--accent-positive-color--hover)
	);
}

.mode-primary.negative {
	@include ui-primary-appearance-button(
		var(--text-contrast),
		var(--accent-negative-color),
		var(--accent-negative-color--hover)
	);
}

.mode-primary.neutral {
	@include ui-primary-appearance-button(
		var(--text-contrast--themed),
		var(--button-contrast),
		var(--button-contrast--hover)
	);
}

// secondary

@mixin ui-secondary-appearance-button($color) {
	color: $color;
	background: var(--button-secondary);

	&:hover {
		background: var(--button-secondary--hover);
	}

	&:focus-within {
		box-shadow: inset 0 0 0 1px var(--separator--alpha);
	}
}

.mode-secondary.accent {
	@include ui-secondary-appearance-button(var(--accent-brand-color));
}

.mode-secondary.positive {
	@include ui-secondary-appearance-button(var(--accent-positive-color));
}

.mode-secondary.negative {
	@include ui-secondary-appearance-button(var(--accent-negative-color));
}

.mode-secondary.neutral {
	@include ui-secondary-appearance-button(var(--text-primary));
}

// ghost

@mixin ui-ghost-appearance-button($color) {
	color: $color;

	&:hover {
		background: var(--button-secondary);
	}

	&:focus-within {
		box-shadow: inset 0 0 0 1px var(--separator--alpha);
	}
}

.mode-tertiary.accent {
	@include ui-ghost-appearance-button(var(--accent-brand-color));
}

.mode-ghost.positive {
	@include ui-ghost-appearance-button(var(--accent-positive-color));
}

.mode-ghost.negative {
	@include ui-ghost-appearance-button(var(--accent-negative-color));
}

.mode-ghost.neutral {
	@include ui-ghost-appearance-button(var(--text-primary));
}

// outline

@mixin ui-outline-appearance-button($color) {
	color: $color;
	box-shadow: inset 0 0 0 1px $color;

	&:hover {
		background: var(--button-secondary);
	}
}

.mode-outline.accent {
	@include ui-outline-appearance-button(var(--accent-brand-color));
}

.mode-outline.positive {
	@include ui-outline-appearance-button(var(--accent-positive-color));
}

.mode-outline.negative {
	@include ui-outline-appearance-button(var(--accent-negative-color));
}

.mode-outline.neutral {
	color: var(--text-primary);
	box-shadow: inset 0 0 0 1px var(--separator--alpha);

	&:hover {
		background: var(--button-secondary);
	}
}

// size

@mixin ui-size-button(
	$height,
	$padding,
	$rounded,
	$gap,
	$font-size,
	$line-height
) {
	@include ui-size-control($H: $height, $minW: $height, $minH: $height);

	border-radius: $rounded;

	.in {
		padding: 0 $padding;
		gap: $gap;

		font-size: $font-size;
		line-height: $line-height;

		// .content {
		// 	padding: 0 calc($padding / 3);
		// }
	}
}

.size-xsm {
	@include ui-size-button(28px, 6px, $ui-rounded--xsm, 4px, 13px, 18px);
}

.size-sm {
	@include ui-size-button(44px, 10px, $ui-rounded--sm, 8px, 15px, 20px);
}

.size-md {
	@include ui-size-button(56px, 14px, $ui-rounded--md, 12px, 17px, 24px);
}

.size-lg {
	@include ui-size-button(64px, 16px, $ui-rounded--md, 12px, 20px, 28px);
}

.size-xlg {
	@include ui-size-button(72px, 18px, $ui-rounded--l, 16px, 24px, 32px);
}

// corners

.rounded {
	border-radius: $ui-rounded--5xl;
}

// stretched

.stretched {
	@include ui-size-control(100%);
}

// disabled

.disabled {
	opacity: 60%;
}

.root:disabled {
	cursor: not-allowed;

	&:active {
		scale: 1;
	}
}

.none-action {
	pointer-events: none;
}
