@import 'styles/Variables';

.root {
	@include ui-flex-container(flex, $flow: column);

	gap: calc($ui-step * 2);
	padding-left: $ui-inner-padding;

	ul {
		list-style: disc;
	}

	li {
		padding-left: calc($ui-step * 1);

		&::marker {
			font-size: inherit;
			font-weight: bold;
			color: $AccentBlue;
		}
	}

	.nested {
		padding-top: $ui-outer-padding;
	}
}

// ol-list-level

ol {
	counter-reset: num;

	& > li {
		counter-increment: num;

		&::marker {
			content: counter(num) '. ';
		}

		ol {
			counter-reset: num2;

			> li {
				counter-increment: num2;

				&::marker {
					content: counter(num) '.' counter(num2) '. ';
				}

				ol {
					counter-reset: num3;

					> li {
						counter-increment: num3;

						&::marker {
							content: counter(num) '.' counter(num2) '.' counter(num3) '. ';
						}
					}
				}
			}
		}
	}
}
