@import 'assets/styles/variables';

.root {
	@include ui-display-grid($ui-column-width 1fr 1fr $ui-column-width);

	gap: $ui-spacing;

	.route {
		@include ui-size-control(100%, $minW: 0px);
		@include ui-flex-container(flex, center, $flow: column);

		gap: $ui-step;
	}

	@media (max-width: $max-width--mobile) {
		@include ui-display-grid($ui-column-width 1fr $ui-column-width);

		.route {
			grid-column: span 2;
		}
	}
}
