@import 'assets/styles/Variables';

.list {
	@include ui-display-grid(1fr 1fr);

	gap: clamp($ui-step * 3, 1.64vmax, $ui-step * 5);
}

.preview {
	@include ui-flex-container(flex, center, center);

	position: relative;
	color: var(--text-secondary);

	aspect-ratio: 133 / 64;

	img {
		@include ui-size-control(100%);
	}
}

.masonry {
	@include ui-flex-container(flex);

	gap: $ui-outer-padding;
	overflow: hidden;
	border-radius: clamp($ui-rounded--16, 2.4vmax, $ui-rounded--24);
	margin: $ui-outer-padding;

	&-column {
		background-clip: padding-box;
	}

	&-item {
		@include ui-flex-container(flex, center, center);

		border-radius: $ui-rounded--16;
		position: relative;
		color: var(--text-secondary);
		// background: var(--background);
		cursor: pointer;
		transition: 0.12s ease-in;

		// img {
		// 	width: 100%;
		// 	transition: 0.24s ease-in;
		// 	border-radius: $ui-rounded--16;
		// }

		&:not(:last-child) {
			margin-bottom: $ui-outer-padding;
		}
	}

	.image {
		position: relative;
		overflow: hidden;
		// transition: 0.24s ease-in;

		img {
			border-radius: $ui-rounded--16;
			transition: 0.24s ease-in;
		}
	}

	.expanded-image {
		@include ui-flex-container(flex, center, center);

		position: fixed;
		width: 100vw;
		height: 100dvh;

		z-index: 14;
		top: 0;
		left: 0;
		padding: $ui-outer-padding;

		background-color: var(--overlay);
		backdrop-filter: blur(24px);

		img {
			max-height: 100%;
			width: auto !important;
		}
	}

	.ghost-image {
		opacity: 0;
	}
}
