@import 'styles/Variables';

.list {
	// @include ui-display-grid(1fr 1fr);

	@include ui-flex-container(grid);

	gap: $ui-spacing;
	grid-template-columns: 1fr 1fr;
	// grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
}

.preview {
	@include ui-flex-container(flex, center, center);

	position: relative;
	color: var(--text-secondary);

	background: none;

	aspect-ratio: 133 / 64;

	img {
		@include ui-size-control(100%);

		object-fit: cover;
		z-index: -1;
	}
}

.gridMasonry {
	@include ui-flex-container(flex);

	gap: 8px;

	&Column {
		background-clip: padding-box;
	}

	&Item {
		@include ui-flex-container(flex, center, center);

		border-radius: $ui-rounded--md;

		color: var(--text-secondary);
		background: var(--field-background);

		transition: 0.16s ease-in;

		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
}

.image {
	// position: relative;
	cursor: pointer;
	border-radius: $ui-rounded--md;

	img {
		@include ui-size-control(auto !important, $maxW: 100%, $maxH: 100%);

		// transition: 0.16s ease-in;
		object-fit: cover;
		border-radius: $ui-rounded--md;
	}

	// &Visible {
	// }

	&Expanded {
		@include ui-size-control(100vw, 100dvh);
		@include ui-flex-container(flex, center, center);

		position: fixed;
		overflow: hidden;

		img {
			padding: 8px;
			border-radius: $ui-rounded--xl;
		}

		z-index: 16;
		top: 0;
		left: 0;

		// transition: 0.16s ease-in;

		background: var(--overlay);
		backdrop-filter: blur(24px);

		transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
	}

	&Ghost {
		pointer-events: none;
		opacity: 0;
	}
}
