@import 'assets/styles/Variables';

.list {
	// @include ui-display-grid(1fr 1fr);

	@include ui-flex-container(grid);

	gap: $ui-spacing;
	grid-template-columns: 1fr 1fr;
	// grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
}

.preview {
	@include ui-flex-container(flex, center, center);

	position: relative;
	color: var(--text-secondary);

	aspect-ratio: 133 / 64;

	img {
		@include ui-size-control(100%);

		object-fit: cover;
	}
}

.gridMasonry {
	@include ui-flex-container(flex);

	gap: 8px;
	// border-radius: clamp($ui-rounded--xl, 3vmax, $ui-rounded--2xl);

	&Column {
		background-clip: padding-box;
	}

	&Item {
		@include ui-flex-container(flex, center, center);

		border-radius: $ui-rounded--md;

		color: var(--text-secondary);
		background: var(--field-background);

		transition: 0.16s ease-in;

		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	.image {
		position: relative;
		cursor: pointer;

		img {
			@include ui-size-control(auto !important, $maxW: 100%, $maxH: 100%);

			transition: 0.16s ease-in;
			object-fit: cover;
		}

		&Visible {
			position: absolute;
			overflow: hidden;
			border-radius: $ui-rounded--md;
		}

		&Expanded {
			@include ui-flex-container(flex, center, center);

			z-index: 14;
			top: 0;
			left: 0;

			transition: 0.16s ease-in;

			background: var(--overlay);
			// backdrop-filter: blur(24px);

			transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
		}

		&Ghost {
			pointer-events: none;
			opacity: 0;
		}
	}
}
