@import 'Variables';

.ui- {
	// Layout ———————————————————————————————————————————————— //

	// Box

	&box- {
		// Box Decoration Break

		&decoration- {
			&clone {
				box-decoration-break: clone;
			}

			&slice {
				box-decoration-break: slice;
			}
		}

		// Box Sizing

		&border {
			box-sizing: border-box;
		}

		&content {
			box-sizing: content-box;
		}
	}

	// Display

	&block {
		display: block;
	}

	&inline-block {
		display: inline-block;
	}

	&inline {
		display: inline;
	}

	&flex {
		display: flex;
	}

	&grid {
		display: grid;
	}

	&inherit {
		display: inherit;
	}

	// Overflow

	&overflow- {
		&auto {
			overflow: auto;
		}

		&hidden {
			overflow: hidden;
		}

		&clip {
			overflow: clip;
		}

		&visible {
			overflow: visible;
		}

		&scroll {
			overflow: scroll;
		}

		&x-auto {
			overflow-x: auto;
		}

		&x-hidden {
			overflow-x: hidden;
		}

		&x-clip {
			overflow-x: clip;
		}

		&x-visible {
			overflow-x: visible;
		}

		&x-scroll {
			overflow-x: scroll;
		}

		&y-auto {
			overflow-y: auto;
		}

		&y-hidden {
			overflow-y: hidden;
		}

		&y-clip {
			overflow-y: clip;
		}

		&y-visible {
			overflow-y: visible;
		}

		&y-scroll {
			overflow-y: scroll;
		}
	}

	// Position

	&static {
		position: static;
	}

	&fixed {
		position: fixed;
	}

	&absolute {
		position: absolute;
	}

	&relative {
		position: relative;
	}

	&sticky {
		position: sticky;
	}

	// Flexbox & Grid ———————————————————————————————————————————————— //

	&flex- {
		// Flex Direction

		&row {
			flex-direction: row;
		}

		&row-reverse {
			flex-direction: row-reverse;
		}

		&col {
			flex-direction: column;
		}

		&col-reverse {
			flex-direction: column-reverse;
		}

		// Flex Wrap

		&wrap {
			flex-wrap: wrap;
		}

		&wrap-reverse {
			flex-wrap: wrap-reverse;
		}

		&nowrap {
			flex-wrap: nowrap;
		}

		// Flex

		&1 {
			flex: 1 1 0%;
		}

		&auto {
			flex: 1 1 auto;
		}

		&initial {
			flex: 0 1 auto;
		}

		&none {
			flex: none;
		}

		// Flex Grow

		&grow {
			flex-grow: 1;
		}

		&grow-0 {
			flex-grow: 0;
		}

		// Flex Shrink

		&shrink {
			flex-shrink: 1;
		}

		&shrink-0 {
			flex-shrink: 0;
		}
	}

	// Gap

	&gap {
		@for $i from 0 through 20 {
			$px: $i;

			&-#{$px}-px {
				gap: #{$px + 'px'};
			}
		}

		&-global {
			gap: $ui-spacing;
		}

		&-inherit {
			gap: inherit;
		}
	}

	// Justify Content

	&justify-content {
		&-start {
			justify-content: flex-start;
		}

		&-end {
			justify-content: end;
		}

		&-center {
			justify-content: center;
		}

		&-stretch {
			justify-content: stretch;
		}
	}

	// Align

	&items {
		// Align Items

		&-start {
			align-items: flex-start;
		}

		&-end {
			align-items: end;
		}

		&-center {
			align-items: center;
		}

		&-baseline {
			align-items: baseline;
		}

		&-stretch {
			align-items: stretch;
		}
	}

	// Spacing ———————————————————————————————————————————————— //

	// Padding

	@for $i from 0 through 9999 {
		$px: $i;

		&p {
			&-#{$px}-px {
				padding: #{$px + 'px'};
			}

			&x-#{$px}-px {
				padding-left: #{$px + 'px'};
				padding-right: #{$px + 'px'};
			}

			&y-#{$px}-px {
				padding-top: #{$px + 'px'};
				padding-bottom: #{$px + 'px'};
			}

			&t-#{$px}-px {
				padding-top: #{$px + 'px'};
			}

			&r-#{$px}-px {
				padding-right: #{$px + 'px'};
			}

			&b-#{$px}-px {
				padding-bottom: #{$px + 'px'};
			}

			&l-#{$px}-px {
				padding-left: #{$px + 'px'};
			}
		}
	}

	// Margin

	@for $i from 0 through 9999 {
		$px: $i;

		&m {
			&-#{$px}-px {
				margin: #{$px + 'px'};
			}

			&x-#{$px}-px {
				margin-left: #{$px + 'px'};
				margin-right: #{$px + 'px'};
			}

			&y-#{$px}-px {
				margin-top: #{$px + 'px'};
				margin-bottom: #{$px + 'px'};
			}

			&t-#{$px}-px {
				margin-top: #{$px + 'px'};
			}

			&r-#{$px}-px {
				margin-right: #{$px + 'px'};
			}

			&b-#{$px}-px {
				margin-bottom: #{$px + 'px'};
			}

			&l-#{$px}-px {
				margin-left: #{$px + 'px'};
			}
		}
	}

	&m {
		&-auto {
			margin: auto;
		}

		&x-auto {
			margin-left: auto;
			margin-right: auto;
		}

		&y-auto {
			margin-top: auto;
			margin-bottom: auto;
		}

		&t-auto {
			margin-top: auto;
		}

		&r-auto {
			margin-right: auto;
		}

		&b-auto {
			margin-bottom: auto;
		}

		&l-auto {
			margin-left: auto;
		}
	}

	// Sizing ———————————————————————————————————————————————— //

	// Width

	&w {
		&-full {
			width: 100% !important;
		}

		&-min {
			width: min-content;
		}

		&-max {
			width: max-content;
		}

		&-fit {
			width: fit-content;
		}

		@for $i from 0 through 100 {
			$pct: $i;

			&-#{$pct}-pct {
				width: #{$pct + '%'};
			}
		}

		@for $i from 0 through 9999 {
			$px: $i;

			&-#{$px}-px {
				width: #{$px + 'px'};
			}
		}
	}

	// Height

	&h {
		&-full {
			height: 100% !important;
		}

		&-min {
			height: min-content;
		}

		&-max {
			height: max-content;
		}

		&-fit {
			height: fit-content;
		}

		@for $i from 0 through 100 {
			$pct: $i;

			&-#{$pct}-pct {
				height: #{$pct + '%'};
			}
		}

		@for $i from 0 through 9999 {
			$px: $i;

			&-#{$px}-px {
				height: #{$px + 'px'};
			}
		}
	}
}

// Max-Width in Columns

.ui-max-w {
	@for $i from 2 through 12 {
		$column: $i;

		&-#{$column}-cols {
			@include ui-max-width($column);
		}
	}
}

.ui- {
	// Typography ———————————————————————————————————————————————— //

	// Line Clamp

	&clamp {
		@for $i from 1 through 6 {
			$line: $i;

			&-#{$line} {
				overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: $line;
			}
		}

		&-none {
			overflow: visible;
			display: block;
			-webkit-box-orient: horizontal;
			-webkit-line-clamp: none;
		}
	}

	// Font

	&font {
		// Font Weight

		&-normal {
			font-weight: 400;
		}

		&-medium {
			font-weight: 500;
		}

		&-bold {
			font-weight: 700;
		}

		&-black {
			font-weight: 900;
		}

		// Font Style

		&-italic {
			font-style: italic;
		}

		&-not-italic {
			font-style: normal;
		}
	}

	// Text

	&text {
		// Text Align

		&-left {
			text-align: left;
		}

		&-center {
			text-align: center;
		}

		&-right {
			text-align: right;
		}

		&-justify {
			text-align: justify;
		}

		&-start {
			text-align: start;
		}

		&-end {
			text-align: end;
		}

		// Text Color

		&-inherit {
			color: inherit;
		}

		&-secondary {
			color: var(--text-secondary);
		}

		&-accent {
			color: var(--accent-brand-color);
		}

		&-positive {
			color: var(--accent-positive-color);
		}

		&-negative {
			color: var(--accent-negative-color);
		}

		// Text Decoration

		&-underline {
			text-decoration-line: underline;
		}

		&-overline {
			text-decoration-line: overline;
		}

		&-line-through {
			text-decoration-line: line-through;
		}

		&-no-underline {
			text-decoration-line: none;
		}

		// Text Transform

		&-uppercase {
			text-transform: uppercase;
		}

		&-lowercase {
			text-transform: lowercase;
		}

		&-capitalize {
			text-transform: capitalize;
		}

		&-normal-case {
			text-transform: none;
		}

		// Text Overflow

		&-truncate {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&-ellipsis {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&-clip {
			overflow: hidden;
			text-overflow: clip;
			white-space: nowrap;
		}

		// Text Wrap

		&-wrap {
			text-wrap: wrap;
		}

		&-nowrap {
			text-wrap: nowrap;
		}

		&-balance {
			text-wrap: balance;
		}

		&-pretty {
			text-wrap: pretty;
		}
	}

	// Vertical Align

	&align- {
		&baseline {
			vertical-align: baseline;
		}

		&top {
			vertical-align: top;
		}

		&middle {
			vertical-align: middle;
		}

		&bottom {
			vertical-align: bottom;
		}

		&text-top {
			vertical-align: text-top;
		}

		&text-bottom {
			vertical-align: text-bottom;
		}

		&sub {
			vertical-align: sub;
		}

		&super {
			vertical-align: super;
		}
	}

	// Borders ———————————————————————————————————————————————— //

	&rounded {
		&-xsm {
			border-radius: $ui-rounded--xsm;
		}

		&-sm {
			border-radius: $ui-rounded--sm;
		}

		&-md {
			border-radius: $ui-rounded--md;
		}

		&-l {
			border-radius: $ui-rounded--l;
		}

		&-xl {
			border-radius: $ui-rounded--xl;
		}

		&-2xl {
			border-radius: $ui-rounded--2xl;
		}

		&-3xl {
			border-radius: $ui-rounded--3xl;
		}

		&-4xl {
			border-radius: $ui-rounded--4xl;
		}

		&-5xl {
			border-radius: $ui-rounded--5xl;
		}
	}

	// Animation ———————————————————————————————————————————————— //

	&animate {
		&-none {
			animation: none;
		}

		&-spin {
			@include ui-animate-spin;
		}

		&-ping {
			@include ui-animate-ping;
		}

		&-bounce {
			@include ui-animate-bounce;
		}
	}

	// Skeleton Style

	&skeleton {
		@include ui-flex-container(flex, center, center);

		position: relative;
		overflow: hidden;

		background: var(--background--alpha) !important;

		&::after {
			content: '';

			@include ui-size-control(100%, 100%);
			@include ui-flex-container(flex, $items: center);

			@include ui-animate-pulse;

			position: absolute;
			background: var(--background--alpha);
		}
	}

	// Other ———————————————————————————————————————————————— //

	&scrollbar-stable {
		@media (min-width: $ui-max-w--mobile) {
			scrollbar-gutter: stable;
		}
	}

	// Custom Font Size

	&footnote- {
		&level-1 {
			font-size: 15px;
			line-height: 20px;
		}

		&level-2 {
			font-size: 13px;
			line-height: 18px;
		}

		&level-3 {
			font-size: 11px;
			line-height: 16px;
		}
	}

	&fontbody- {
		&level-1 {
			font-size: clamp($ui-step * 5, 4.4vmin, $ui-step * 6);
			line-height: 1.333334em;
		}

		&level-2 {
			font-size: clamp(17px, 3.6vmin, $ui-step * 5);
			line-height: 1.4em;
		}

		&level-3 {
			font-size: clamp(15px, 3.2vmin, 17px);
			line-height: 1.4118em;
		}
	}

	&heading- {
		&level-1 {
			font-size: clamp($ui-step * 10, 7.6vmin, $ui-step * 16);
			line-height: 1.125em;
		}

		&level-2 {
			font-size: clamp($ui-step * 8, 6.4vmin, $ui-step * 10);
			line-height: 1.2em;
		}

		&level-3 {
			font-size: clamp($ui-step * 6, 5.6vmin, $ui-step * 8);
			line-height: 1.125em;
		}

		&level-4 {
			font-size: clamp($ui-step * 5, 4.4vmin, $ui-step * 6);
			line-height: 1.333334em;
		}
	}
}
