@import '/src/styles/variables', '/src/styles/reset', '/src/styles/media';

// fonts ==============================

// font: rf-dewi

@font-face {
	font-display: swap;
	font-family: 'RF Dewi Expanded';
	src: url('../../public/fonts/rf-dewi/RFDewiExpanded-Black.woff2')
			format('woff2'),
		url('../../public/fonts/rf-dewi/RFDewiExpanded-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

// font: vk-sans

@font-face {
	font-display: swap;
	font-family: 'VK Sans Display';
	src: url('../../public/fonts/vk-sans/VKSansDisplay-Bold.woff2')
			format('woff2'),
		url('../../public/fonts/vk-sans/VKSansDisplay-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-display: swap;
	font-family: 'VK Sans Display';
	src: url('../../public/fonts/vk-sans/VKSansDisplay-DemiBold.woff2')
			format('woff2'),
		url('../../public/fonts/vk-sans/VKSansDisplay-DemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-display: swap;
	font-family: 'VK Sans Display';
	src: url('../../public/fonts/vk-sans/VKSansDisplay-Medium.woff2')
			format('woff2'),
		url('../../public/fonts/vk-sans/VKSansDisplay-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-display: swap;
	font-family: 'VK Sans Display';
	src: url('../../public/fonts/vk-sans/VKSansDisplay-Regular.woff2')
			format('woff2'),
		url('../../public/fonts/vk-sans/VKSansDisplay-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-display: swap;
	font-family: 'VK Sans Display';
	src: url('../../public/fonts/vk-sans/VKSansDisplay-Light.woff2')
			format('woff2'),
		url('../../public/fonts/vk-sans/VKSansDisplay-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

// headers ==============================

h1 {
	font-family: 'RF Dewi Expanded';
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: 120%;
	text-transform: uppercase;
}

h2 {
	font-family: 'VK Sans Display';
	font-weight: 500;
	font-style: normal;
	font-size: 32px;
	line-height: 42px;
	text-transform: none;
}

h3 {
	font-family: 'VK Sans Display';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
}

h4 {
	font-family: 'VK Sans Display';
	font-weight: 400;
	font-style: normal;
	font-size: 17px;
	line-height: 24px;
}

h5 {
	font-family: 'VK Sans Display';
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	line-height: 20px;
}

h6 {
	font-family: 'VK Sans Display';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	line-height: 18px;
}

// text-dynamic-color ==============================

.text-red {
	color: $red !important;
}

.text-orange {
	color: $orange !important;
}

.text-l-orange {
	color: $light-orange !important;
}

.text-yellow {
	color: $yellow !important;
}

.text-l-green {
	color: $light-green !important;
}

.text-green {
	color: $green !important;
}

.text-cyan {
	color: $cyan !important;
}

.text-blue {
	color: $blue !important;
}

.text-violet {
	color: $violet !important;
}

.text-purple {
	color: $purple !important;
}

.text-pink {
	color: $pink !important;
}

// text-chromatic-color ==============================

.text-white {
	color: $white !important;
}

.text-dark {
	color: $text-dark !important;
}

// background-social-color ==============================

.bg-vk {
	background-color: $vk !important;
}

.bg-vk-workspace {
	background-color: $vk-workspace !important;
}

.bg-vk-mail {
	background-color: $vk-mail !important;
}

.bg-telegram {
	background-color: $telegram !important;
}

// background-dynamic-color ==============================

.bg-red {
	background-color: $red !important;
}

.bg-orange {
	background-color: $orange !important;
}

.bg-l-orange {
	background-color: $light-orange !important;
}

.bg-yellow {
	background-color: $yellow !important;
}

.bg-l-green {
	background-color: $light-green !important;
}

.bg-green {
	background-color: $green !important;
}

.bg-cyan {
	background-color: $cyan !important;
}

.bg-blue {
	background-color: $blue !important;
}

.bg-violet {
	background-color: $violet !important;
}

.bg-purple {
	background-color: $purple !important;
}

.bg-pink {
	background-color: $pink !important;
}

// background-chromatic-color ==============================

.bg-white {
	background-color: $white !important;
}

// body ==============================

body {
	font-family: 'RF Dewi Expanded', 'VK Sans Display', sans-serif;
	background-color: $background;
	color: $black;
	margin: 0;
	overflow-x: hidden;

	&.lock {
		margin: 0;
		overflow: hidden;
		position: fixed;
		width: 100%;
	}
}

html {
	box-sizing: border-box;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

*::selection {
	background-color: $blue;
	color: $white;
}

// custom-scroll ============================== ????????????????????????????????????????????

body,
div,
nav {
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
		background-color: none;
	}

	&::-webkit-scrollbar-track {
		border-radius: 6px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(89, 103, 150, 0.25);
		border-radius: 6px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: rgba(89, 103, 150, 0.5);
	}
}

// page-template-content ==============================

.pageTemplate-content {
	display: flex;
	flex-direction: column;
	gap: 104px;
	min-height: 100vh;
}

.pageTemplate-padding {
	padding: 0px 24px;
}

.pageTemplate-container {
	max-width: 1176px;
	width: 100%;
	margin: 0 auto;
}

// ==============================

.button-wrapper {
	display: flex;
	gap: 8px;
	align-items: center;
	padding: 0 36px;

	&.margin {
		margin-bottom: 16px;
	}

	&:last-child {
		padding: 0 36px 36px;
	}
}

.icons-wrapper {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	gap: 24px;
	padding: 36px;
	background-color: lighten($background, 3%);
	border-radius: $b-radius-24;
}
