@import '/src/styles/variables', '/src/styles/reset', '/src/styles/media';

// bg-alpha-color ============================== ??????????????????????????????

// .bg-a-red {
// 	background-color: $alpha-red;
// }

// body ==============================

body {
	font-family: 'RF Dewi Expanded', 'VK Sans Display', sans-serif;
	background-color: $background;
	color: $black;
	margin: 0;
	overflow-x: hidden;

	&.lock {
		margin: 0;
		overflow: hidden;
		position: fixed;
		width: 100%;
	}
}

html {
	box-sizing: border-box;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

*::selection {
	background-color: $blue;
	color: $white;
}

// custom-scroll ============================== ????????????????????????????????????????????

body,
div,
nav {
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
		background-color: none;
	}

	&::-webkit-scrollbar-track {
		border-radius: 6px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(89, 103, 150, 0.25);
		border-radius: 6px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: rgba(89, 103, 150, 0.5);
	}
}

// content ==============================

.pageTemplate-content {
	display: flex;
	flex-direction: column;
	gap: 104px;
	min-height: 100vh;
	margin: 0px 25px;
}

.pageTemplate-container {
	max-width: 1128px;
	width: 100%;
	margin: 0 auto;
}

// .container-content {
// 	padding: 0 48px;
// }

// section ==============================

.sectionStack-root {
	display: flex;
	flex-direction: column;
	gap: 104px;
}

.section-root {
	width: 100%;
	background-color: $white;
	border-radius: $b-radius-36;
}

.section-inner {
	width: 100%;
	padding: 16px;
}

.title-root {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 32px;
}
