// border-radius ==============================

$b-radius-8: 8px;
$b-radius-12: 12px;
$b-radius-16: 16px;
$b-radius-18: 18px;
$b-radius-24: 24px;
$b-radius-32: 32px;
$b-radius-36: 36px;

// colors ==============================

// social

$vk: #0077ff;
$vk-workspace: #00d9ed;
$vk-mail: #00edc5;
$telegram: #2aabee;

// dynamic

$red: #ff3b3b;
$orange: #ff6d39;
$light-orange: #ffab3b;
$yellow: #ffd43b;
$light-green: #aff70d;
$green: #04ea89;
$cyan: #00eaff;
$blue: #3d3bff;
$violet: #9d3bff;
$purple: #dd0dff;
$pink: #ff3beb;

// transparent

$alpha-red: rgba(255, 59, 59, 0.15);
$alpha-orange: rgba(255, 109, 57, 0.15);
$alpha-light-orange: rgba(255, 171, 59, 0.15);
$alpha-yellow: rgba(255, 212, 59, 0.15);
$alpha-light-green: rgba(175, 247, 13, 0.15);
$alpha-green: rgba(4, 234, 137, 0.15);
$alpha-cyan: rgba(0, 234, 255, 0.15);
$alpha-blue: rgba(61, 59, 255, 0.15);
$alpha-violet: rgba(157, 59, 255, 0.15);
$alpha-purple: rgba(228, 59, 255, 0.15);
$alpha-pink: rgba(255, 59, 212, 0.15);

// general-chromatic

$black: #000000;
$white: #ffffff;
$text-dark: #959ca4;

// light-mode

$background: #f1f2f2;
$foreground: #fafbfb;
$divider: #e5e5e5;

$button-secondary: #f5f5f5;

// dark-mode

// $background: #141414;
// $foreground: #202020;
// $content: #272727;
// $divider: #3e3e3e;

// $text-secondary: #e0e2e4;
// $text-primary: #f7f7f5;

// $button-secondary: #333333;

