@import 'assets/styles/variables';

.root {
	@include ui-flex-container(flex, $flow: column);

	min-height: 100dvh;
	box-sizing: border-box;
}

.main {
	@include ui-flex-container(flex, $flow: inherit);

	padding-top: clamp($ui-step * 27, 12vmax, $ui-step * 50);
	padding-bottom: $ui-step * 18;
	gap: clamp($ui-step * 2, 1.2vmax, $ui-spacing);
}
