@import 'assets/styles/variables';

.root {
	@include ui-flex-container(flex, $flow: column);

	min-height: 100dvh;
	box-sizing: border-box;
}

.main {
	@include ui-flex-container(flex, $flow: inherit);

	padding-top: $ui-step * 50;
	padding-bottom: $ui-step * 18;
	gap: $ui-step * 18;
}
