@import 'assets/styles/Variables';

.root {
	@include ui-flex-container(flex, $flow: column);

	min-height: 100dvh;
	box-sizing: border-box;

	gap: clamp($ui-step * 8, 3vmax, $ui-step * 12);
}

.main {
	@include ui-flex-container(flex, $flow: inherit);

	gap: inherit;
	margin: 0 $ui-outer-margin;
}

.padding-top-sm {
	padding-top: clamp($ui-step * 27, 11.56vmax, $ui-step * 50);
}

.padding-top-lg {
	padding-top: clamp($ui-step * 36, 11.56vmax, $ui-step * 50);
}
