@import 'styles/Variables';

// levels

.level-1 {
	font-size: clamp($ui-step * 10, 7.6vmin, $ui-step * 16);
	line-height: 1.125em;
}

.level-2 {
	font-size: clamp($ui-step * 8, 6.4vmin, $ui-step * 10);
	line-height: 1.2em;
}

.level-3 {
	font-size: clamp($ui-step * 6, 5.6vmin, $ui-step * 8);
	line-height: 1.125em;
}

.level-4 {
	font-size: clamp($ui-step * 5, 4.4vmin, $ui-step * 6);
	line-height: 1.333334em;
}

// mode

.wideLevel-1 {
	font-family: $MTSUltraExtended;
}

.wideLevel-2 {
	font-family: $MTSExtended;
}

.wideLevel-3 {
	font-family: $MTSWide;
}
