// levels

.level-1 {
	font-size: 15px;
	line-height: 20px;

	// line-height: 1.333334em;
}

.level-2 {
	font-size: 13px;
	line-height: 18px;

	// line-height: 1.3847em;
}

.level-3 {
	font-size: 11px;
	line-height: 16px;

	// line-height: 1.455em;
}
