@import 'assets/styles/Variables';

.root {
	.content {
		@include ui-flex-container(flex, $flow: row);

		gap: $ui-spacing;

		.logo {
			@include ui-size-control(120px, 120px);
			@include ui-flex-container(flex, center, center, $shrink: 0);

			padding: $ui-step * 3;
			overflow: hidden;
			background: var(--background);
			border-radius: $ui-rounded--md;
			color: var(--text-secondary);

			img {
				@include ui-size-control(100%, 100%);
			}
		}

		.info {
			@include ui-size-control($minH: 100%);
			@include ui-flex-container(flex, center, $flow: column);

			gap: clamp($ui-step * 3, 3vw, $ui-step * 4);
			transition: 0.24s ease-in;

			.describe-ellipsis {
				@include ui-text-ellipsis(2);
			}
		}
	}
}

.preview {
	@include ui-flex-container(flex, center, center);

	overflow: hidden;
	border-radius: clamp($ui-rounded--md, 2.4vmax, $ui-rounded--xl);
	margin: $ui-outer-padding $ui-outer-padding 0;
	// box-shadow: 0 0 0 1px var(--separator);

	img {
		@include ui-size-control(100%, $minW: 532px);
	}
}

.link {
	@include ui-absolute-center;
	@include ui-size-control(100%, 100%);

	border-radius: inherit;

	@media (min-width: $ui-max-w--tablet) {
		&:hover {
			cursor: none;
		}
	}

	// &:hover ~ .content .info {
	// 	color: var(--text-secondary);
	// }
}
