@import 'assets/styles/variables';

.root {
	font-weight: bold;
	transition: 0.08s ease-in;
	cursor: pointer;
	border-radius: 4px;
	text-decoration-line: underline !important;
}

.color {
	color: $AccentBlue;
	text-decoration-color: $AccentBlue !important;

	&:hover {
		color: lighten($AccentBlue, $Alpha8);
		text-decoration-color: lighten($AccentBlue, $Alpha8) !important;
	}

	&:visited {
		color: var(--text-primary);
		text-decoration-color: var(--text-primary) !important;

		&:hover {
			color: var(--button-contrast-hover);
			text-decoration-color: var(--button-contrast-hover) !important;
		}
	}
}

.flex {
	@include ui-flex-container(flex, $shrink: 0);
}
