@import 'assets/styles/variables';

.root {
	font-weight: bold;
	transition: 0.08s ease-in;
	cursor: pointer;

	text-decoration-line: underline !important;
}

.color {
	color: $AccentBlue;
	text-decoration-color: $AccentBlue !important;

	&:hover {
		color: lighten($AccentBlue, 12%);
		text-decoration-color: lighten($AccentBlue, 12%) !important;
	}

	&:visited {
		color: var(--text-primary);
		text-decoration-color: var(--text-primary) !important;
	}
}

.flex {
	@include ui-flex-container(flex);
}
