@import 'assets/styles/Variables';

.root {
	@include ui-size-control(100%);

	position: fixed;
	z-index: $ui-index--12;
	padding: $ui-outer-margin;

	.container {
		@include ui-size-control(100%, clamp(92px, 8vmax, 104px));
		@include ui-flex-container(flex, space-between, center);

		overflow: hidden;
		border-radius: $ui-rounded--24;
		background: var(--header-alpha);
		backdrop-filter: blur(44px);
		box-shadow: 0 0 0 1px var(--separator);
		padding: 0 min($ui-step * 9, calc($ui-outer-padding + $ui-inner-padding));
		gap: $ui-spacing;

		.header-part {
			@include ui-flex-container(flex, $items: center);

			gap: $ui-step * 1.5;
		}
	}
}
