@import 'assets/styles/variables';

.root {
	@include ui-size-control(100%);

	position: fixed;
	z-index: $ui-index--12;
	padding: $ui-step * 2;

	.container {
		@include ui-size-control(100%, clamp(92px, 8vmax, 104px));
		@include ui-flex-container(flex, space-between, center);

		overflow: hidden;
		border-radius: $ui-rounded--24;
		background: $HeaderAlpha;
		backdrop-filter: blur(32px);
		box-shadow: inset 0 0 0 1px $Separator;
		padding: 0 clamp($ui-step * 5, 3vmax, $ui-step * 9);
		gap: $ui-spacing;

		.header-part {
			@include ui-flex-container(flex, $items: center);
		}
	}
}
