@import 'styles/Variables';

.root {
	@include ui-flex-container($justify: flex-end);
	@include ui-size-control($minH: 220px);

	user-select: none;
	transition: 0.2s ease-in;
	color: var(--text-contrast);

	box-shadow: none !important;
	outline: none !important;

	.link {
		@include ui-absolute-center;
		@include ui-size-control(100%, 100%);

		border-radius: inherit;

		@media (min-width: $ui-max-w--tablet) {
			&:hover {
				cursor: none;
			}
		}
	}

	.icon {
		@include ui-size-control(40px, 40px);

		position: absolute;
		top: 0;
		right: 0;

		pointer-events: none;
		transition: inherit;
		translate: -24px 24px;

		border-radius: $ui-rounded--xl;
	}
}
