@import 'assets/styles/variables';

.root {
	@include ui-flex-container(inline);

	color: var(--text-primary);
}

.caps {
	text-transform: uppercase;
}

.secondary {
	color: var(--text-secondary);
}

.ellipsis {
	@include ui-text-ellipsis;
}
