@import '/src/styles/variables';

.root {
	margin-top: auto;
}

.wrapper {
	display: flex;
	height: 180px;
	padding: 0 48px;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
}

.item {
	display: flex;
	gap: 12px;
	align-items: center;
}
