@import 'assets/styles/Variables';

.root {
	@include ui-flex-container(flex, flex-end);
	@include ui-size-control($minH: 220px);

	background-color: var(--accent-blue-color);
	user-select: none;
	transition: 0.2s ease-in;
	color: var(--text-contrast);

	box-shadow: none;

	.link {
		@include ui-absolute-center;
		@include ui-size-control(100%, 100%);

		border-radius: inherit;

		@media (min-width: $max-width--tablet) {
			&:hover {
				cursor: none;
			}
		}
	}

	.icon {
		position: absolute;
		top: 0;
		right: 0;

		pointer-events: none;
		transition: inherit;
		translate: -24px 24px;
	}

	img {
		transition: 0.2s ease-in;
	}

	&:hover {
		// scale: 0.98;
		// border-radius: $ui-rounded--44;

		.icon {
			translate: 100% -100%;
		}

		img {
			scale: 1.12;
		}
	}

	// &:active {
	// 	scale: 0.96;
	// border-radius: $ui-rounded--56;
	// }
}

.vk {
	background-color: var(--vk-color);
}

.vk-mail {
	background-color: var(--vk-mail-color);
}

.telegram {
	background-color: var(--telegram-color);
}

.github {
	background-color: var(--github-color);
}

.gitlab {
	background-color: var(--gitlab-color);
}

.yandex {
	background-color: var(--yandex-color);
}

.headhunter {
	background-color: var(--head-hunter-color);
}
