@import 'assets/styles/Variables';

.root {
	@include ui-flex-container($justify: flex-end);
	@include ui-size-control($minH: 220px);

	user-select: none;
	transition: 0.2s ease-in;
	color: var(--text-contrast);

	background: radial-gradient(
		50% 100% at 0% 100%,
		var(--fuchsia-color) 0%,
		var(--accent-blue-color) 100%
	);
	background-size: 200%;
	background-position: 100%;

	box-shadow: none !important;
	// filter: blur(0px);

	.link {
		@include ui-absolute-center;
		@include ui-size-control(100%, 100%);

		border-radius: inherit;

		@media (min-width: $ui-max-w--tablet) {
			&:hover {
				cursor: none;
			}
		}
	}

	.icon {
		position: absolute;
		top: 0;
		right: 0;

		pointer-events: none;
		transition: inherit;
		translate: -24px 24px;
	}

	img {
		transition: 0.2s ease-in;
	}

	&:hover {
		background-position: 0;

		.icon {
			translate: 100% -100%;
		}

		img {
			scale: 1.12;
		}
	}
}

.vk {
	background: var(--vk-color) !important;
}

.vk-mail {
	background: var(--vk-mail-color) !important;
}

.telegram {
	background: var(--telegram-color) !important;
}

.github {
	background: var(--github-color) !important;
}

.gitlab {
	background: var(--gitlab-color) !important;
}

.yandex {
	background: var(--yandex-color) !important;
}

.headhunter {
	background: var(--head-hunter-color) !important;
}
