@import 'assets/styles/variables';

.root {
	@include ui-flex-container(flex, $items: center);

	margin-top: auto;
	margin-left: $ui-outer-margin;
	margin-right: $ui-outer-margin;
	padding: $ui-step * 12 0;

	color: var(--text-secondary);
}

.wrapper {
	@include ui-container;
	@include ui-flex-container($items: center);
	@include ui-display-grid(1fr auto auto);

	gap: $ui-spacing;

	.spinner {
		@include ui-flex-container(flex);
		@include anim-spinner(6.4s);

		transition: 0.16s ease-in;

		&:hover {
			scale: 1.08;
		}
	}
}
