@import 'assets/styles/variables';

@include ui-width-columns;

.root {
	margin: 0 $ui-outer-margin;

	.inner {
		@include ui-size-control(100%);

		margin: 0 auto;

		.content {
			@include ui-flex-container(flex, $flow: column);

			gap: $ui-spacing;
		}
	}
}

.field {
	padding-top: $ui-inner-padding;
	padding-bottom: $ui-inner-padding;

	background-color: var(--field-background);
	border-radius: clamp($ui-rounded--24, 3vmax, $ui-rounded--36);
	box-shadow: inset 0 0 0 1px var(--separator);
	overflow: hidden;
}
