@import 'assets/styles/variables';

@include ui-width-columns;

.root {
	@include ui-size-control(100%);
	@include ui-flex-container(flex, $flow: column);

	margin: 0 auto;
	gap: $ui-outer-padding;

	.content {
		@include ui-flex-container(flex, $flow: column);

		gap: calc($ui-sm-gap + $ui-step);
		color: var(--text-primary);
	}
}
