@import 'assets/styles/Variables';

[data-theme='light'] {
	--warning-light: 0 0 0 0;
}

[data-theme='dark'] {
	--warning-light: 0 1px 5px 0 rgba(255, 59, 59, 0.05),
		0 2px 11px 0 rgba(255, 59, 59, 0.07), 0 4px 20px 0 rgba(255, 59, 59, 0.09),
		0 7px 33px 0 rgba(255, 59, 59, 0.11), 0 12px 55px 0 rgba(255, 59, 59, 0.13),
		0 21px 96px 0 rgba(255, 59, 59, 0.15), 0 46px 208px 0 rgba(255, 59, 59, 0.2);
}

.warning {
	color: var(--text-contrast);
	background: var(--accent-negative-color);
	user-select: none;

	box-shadow: var(--warning-light);

	// animation: warning;
	// animation-duration: 5.6s;
	// animation-iteration-count: infinite;
	// animation-timing-function: linear;

	// @keyframes warning {
	// 	0% {
	// 		box-shadow: 0 0 0 0;
	// 	}
	// 	50% {
	// 		box-shadow: 0 1px 6px 0 rgba(255, 59, 59, 0.06),
	// 			0 3px 14px 0 rgba(255, 59, 59, 0.09),
	// 			0 6px 25px 0 rgba(255, 59, 59, 0.11),
	// 			0 9px 40px 0 rgba(255, 59, 59, 0.12),
	// 			0 14px 62px 0 rgba(255, 59, 59, 0.14),
	// 			0 23px 96px 0 rgba(255, 59, 59, 0.16),
	// 			0 38px 160px 0 rgba(255, 59, 59, 0.19),
	// 			0 75px 319px 0 rgba(255, 59, 59, 0.25);
	// 	}
	// 	100% {
	// 		box-shadow: 0 0 0 0;
	// 	}
	// }
}
