@import 'assets/styles/Variables';

.root {
	@include ui-size-control(100%);
	@include ui-flex-container(flex, $flow: column);

	gap: $ui-spacing;
	border-radius: inherit;

	padding-left: calc($ui-outer-padding + $ui-inner-padding);
	padding-right: calc($ui-outer-padding + $ui-inner-padding);
}

.y-padding {
	padding-top: clamp(
		calc($ui-step * 2 + $ui-outer-padding),
		3vmax,
		calc($ui-step * 6 + $ui-outer-padding)
	);
	padding-bottom: clamp(
		calc($ui-step * 2 + $ui-outer-padding),
		3vmax,
		calc($ui-step * 6 + $ui-outer-padding)
	);
}
