@import 'styles/Variables';

.root {
	@include ui-size-control($maxW: 100%);
	@include ui-flex-container(flex, $items: center, $flow: column);

	position: relative;
	gap: $ui-spacing;

	.container {
		@include ui-size-control(100%, $maxW: 100%);
		@include ui-flex-container(flex);

		// gap: 6px;

		backface-visibility: hidden;
		touch-action: pan-y pinch-zoom;
	}
}

.controls {
	@include ui-size-control(fit-content);
	@include ui-flex-container(flex);

	// position: absolute;
	// left: 50%;
	// translate: -50%;
	// bottom: 8px;

	padding: 6px;
	gap: 6px;

	border-radius: $ui-rounded--2xl;
	background-color: var(--button-secondary);
	backdrop-filter: blur(24px);
	outline: 1px solid var(--separator--alpha);
	outline-offset: -1px;

	.dotItem {
		@include ui-size-control(8px, 8px);

		border-radius: $ui-rounded--2xl;
		background-color: var(--button-secondary--hover);

		transition: 0.16s ease-in;

		&:active {
			@include ui-size-control(20px);

			background-color: var(--button-secondary--hover);
		}

		&Active {
			@include ui-size-control(24px);

			background-color: var(--text-secondary);

			&:active {
				@include ui-size-control(28px);

				background-color: var(--text-secondary);
			}
		}
	}
}
