// Social ———————————————————————————————————————————————— //

$Vk: hsl(212 100% 50%);
$VkWorkspace: hsl(185 100% 46%);
$VkMail: hsl(170 100% 46%);
$Telegram: hsl(201 85% 55%);
$GitHub: hsl(260 56% 52%);
$GitLab: hsl(20 97% 57%);
$Yandex: hsl(9 97% 55%);

// Palette ———————————————————————————————————————————————— //

$DeepCoral: hsl(0 100% 62%);
$NeonCarrot: hsl(28 100% 62%);
$Gold: hsl(48 100% 62%);
$Pistachio: hsl(86 70% 58%);
$Lime: hsl(132 70% 52%);
$Cyan: hsl(185 100% 50%);
$AccentBlue: hsl(241 100% 62%);
$Lilac: hsl(270 100% 62%);
$Fuchsia: hsl(300 100% 62%);
$Magenta: hsl(337 100% 62%);

// Alpha ———————————————————————————————————————————————— //

$Alpha4: 4%;
$Alpha8: 8%;
$Alpha12: 12%;
$Alpha16: 16%;
$Alpha20: 20%;
$Alpha24: 24%;
$Alpha32: 32%;
$Alpha64: 64%;
