// Social ———————————————————————————————————————————————— //

$Vk: hsl(212 100% 50%);
$VkWorkspace: hsl(185 100% 46%);
$VkMail: hsl(170 100% 46%);
$Telegram: hsl(201 85% 55%);
$GitHub: hsl(260 56% 52%);
$GitLab: hsl(20 97% 57%);
$Yandex: hsl(9 97% 55%);

// Palette ———————————————————————————————————————————————— //

$AccentRed: hsl(0 100% 62%);
$AccentOrange: hsl(16 100% 62%);
$AccentLightOrange: hsl(34 100% 62%);
$AccentYellow: hsl(48 100% 62%);
$AccentLightGreen: hsl(78 94% 51%);
$AccentGreen: hsl(155 97% 47%);
$AccentCyan: hsl(185 100% 50%);
$AccentBlue: hsl(241 100% 62%);
$AccentViolet: hsl(270 100% 62%);
$AccentPurple: hsl(292 100% 53%);
$AccentPink: hsl(306 100% 62%);

// Light ———————————————————————————————————————————————— //

// Background

$Background: hsl(241 10% 96%);
$BackgroundAlpha: hsl(241 44% 20% / 5%);
$FieldBackground: hsl(0 0% 100%);

// Overlay

$Overlay: hsl(241 10% 10% / 72%);

// Header

$HeaderAlpha: hsl(0 0% 100% / 64%);

// Button

$ButtonSecondary: hsl(241 44% 20% / 5%);
$ButtonContrast: hsl(241 10% 10%);

// Stroke

$Separator: hsl(241 10% 88%);
$SeparatorAlpha: hsl(241 44% 20% / 15%);

// Text

$TextPrimary: hsl(241 10% 10%);
$TextSecondary: hsl(241 10% 64%);
$TextContrast: hsl(0 0% 100%);
$TextContrastThemed: hsl(0 0% 100%);

// Alpha ———————————————————————————————————————————————— //

$Alpha8: 8%;
$Alpha24: 24%;
$Alpha32: 32%;
$Alpha64: 64%;
