@import 'Variables';

.ui- {
	// Layout ———————————————————————————————————————————————— //

	// Display

	&block {
		display: block;
	}

	&inline-block {
		display: inline-block;
	}

	&inline {
		display: inline;
	}

	&flex {
		display: flex;
	}

	&grid {
		display: grid;
	}

	// Overflow

	&overflow-auto {
		overflow: auto;
	}

	&overflow-hidden {
		overflow: hidden;
	}

	&overflow-clip {
		overflow: clip;
	}

	&overflow-visible {
		overflow: visible;
	}

	&overflow-scroll {
		overflow: scroll;
	}

	&overflow-x-auto {
		overflow-x: auto;
	}

	&overflow-x-hidden {
		overflow-x: hidden;
	}

	&overflow-x-clip {
		overflow-x: clip;
	}

	&overflow-x-visible {
		overflow-x: visible;
	}

	&overflow-x-scroll {
		overflow-x: scroll;
	}

	&overflow-y-auto {
		overflow-y: auto;
	}

	&overflow-y-hidden {
		overflow-y: hidden;
	}

	&overflow-y-clip {
		overflow-y: clip;
	}

	&overflow-y-visible {
		overflow-y: visible;
	}

	&overflow-y-scroll {
		overflow-y: scroll;
	}

	// Position

	&static {
		position: static;
	}

	&fixed {
		position: fixed;
	}

	&absolute {
		position: absolute;
	}

	&relative {
		position: relative;
	}

	&sticky {
		position: sticky;
	}

	// Flexbox & Grid ———————————————————————————————————————————————— //

	// Flex Direction

	&row {
		flex-direction: row;
	}

	&row-reverse {
		flex-direction: row-reverse;
	}

	&col {
		flex-direction: column;
	}

	&col-reverse {
		flex-direction: column-reverse;
	}

	// Gap

	&gap {
		@for $i from 0 through 20 {
			$pct: $i;

			&-#{$pct} {
				gap: #{$i + 'px'};
			}
		}

		&-global {
			gap: $ui-spacing;
		}

		&-inherit {
			gap: inherit;
		}
	}

	// Justify Items

	&justify-items {
		&-start {
			justify-items: flex-start;
		}

		&-end {
			justify-items: end;
		}

		&-center {
			justify-items: center;
		}

		&-stretch {
			justify-items: stretch;
		}
	}

	// Align

	&items {
		// Align Items

		&-start {
			align-items: flex-start;
		}

		&-end {
			align-items: end;
		}

		&-center {
			align-items: center;
		}

		&-baseline {
			align-items: baseline;
		}

		&-stretch {
			align-items: stretch;
		}
	}
}

// Spacing ———————————————————————————————————————————————— //

.ui- {
	// Padding

	@for $i from 0 through 9999 {
		$px: $i;

		&p-#{$px}-px {
			padding: #{$px + 'px'};
		}

		&px-#{$px}-px {
			padding-left: #{$px + 'px'};
			padding-right: #{$px + 'px'};
		}

		&py-#{$px}-px {
			padding-top: #{$px + 'px'};
			padding-bottom: #{$px + 'px'};
		}

		&pt-#{$px}-px {
			padding-top: #{$px + 'px'};
		}

		&pr-#{$px}-px {
			padding-right: #{$px + 'px'};
		}

		&pb-#{$px}-px {
			padding-bottom: #{$px + 'px'};
		}

		&pl-#{$px}-px {
			padding-left: #{$px + 'px'};
		}
	}

	// Margin

	@for $i from 0 through 9999 {
		$px: $i;

		&m-#{$px}-px {
			margin: #{$px + 'px'};
		}

		&mx-#{$px}-px {
			margin-left: #{$px + 'px'};
			margin-right: #{$px + 'px'};
		}

		&my-#{$px}-px {
			margin-top: #{$px + 'px'};
			margin-bottom: #{$px + 'px'};
		}

		&mt-#{$px}-px {
			margin-top: #{$px + 'px'};
		}

		&mr-#{$px}-px {
			margin-right: #{$px + 'px'};
		}

		&mb-#{$px}-px {
			margin-bottom: #{$px + 'px'};
		}

		&ml-#{$px}-px {
			margin-left: #{$px + 'px'};
		}
	}

	&m-auto {
		margin: auto;
	}

	&mx-auto {
		margin-left: auto;
		margin-right: auto;
	}

	&my-auto {
		margin-top: auto;
		margin-bottom: auto;
	}

	&mt-auto {
		margin-top: auto;
	}

	&mr-auto {
		margin-right: auto;
	}

	&mb-auto {
		margin-bottom: auto;
	}

	&ml-auto {
		margin-left: auto;
	}
}

// Sizing ———————————————————————————————————————————————— //

.ui- {
	// Width

	&w {
		&-full {
			width: 100% !important;
		}

		&-min {
			width: min-content;
		}

		&-max {
			width: max-content;
		}

		&-fit {
			width: fit-content;
		}

		@for $i from 0 through 100 {
			$pct: $i;

			&-#{$pct}-pct {
				width: #{$pct + '%'};
			}
		}

		@for $i from 0 through 9999 {
			$px: $i;

			&-#{$px}-px {
				width: #{$px + 'px'};
			}
		}
	}

	// Height

	&h {
		&-full {
			height: 100% !important;
		}

		&-min {
			height: min-content;
		}

		&-max {
			height: max-content;
		}

		&-fit {
			height: fit-content;
		}

		@for $i from 0 through 100 {
			$pct: $i;

			&-#{$pct}-pct {
				height: #{$pct + '%'};
			}
		}

		@for $i from 0 through 9999 {
			$px: $i;

			&-#{$px}-px {
				height: #{$px + 'px'};
			}
		}
	}
}

// Max-Width in Columns

.ui-max-w {
	@for $i from 2 through 12 {
		$column: $i;

		&-#{$column}-cols {
			@include ui-max-width($column);
		}
	}
}

// Typography ———————————————————————————————————————————————— //

// Line Clamp

.ui-clamp {
	@for $i from 1 through 6 {
		$line: $i;

		&-#{$line} {
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: $line;
		}
	}

	&-none {
		overflow: visible;
		display: block;
		-webkit-box-orient: horizontal;
		-webkit-line-clamp: none;
	}
}

// Font

.ui-font {
	// Font Weight

	&-normal {
		font-weight: 400;
	}

	&-medium {
		font-weight: 500;
	}

	&-bold {
		font-weight: 700;
	}

	&-black {
		font-weight: 900;
	}

	// Font Style

	&-italic {
		font-style: italic;
	}

	&-not-italic {
		font-style: normal;
	}
}

// Text

.ui-text {
	// Text Align

	&-left {
		text-align: left;
	}

	&-center {
		text-align: center;
	}

	&-right {
		text-align: right;
	}

	&-justify {
		text-align: justify;
	}

	&-start {
		text-align: start;
	}

	&-end {
		text-align: end;
	}

	// Text Color

	&-inherit {
		color: inherit;
	}

	&-secondary {
		color: var(--text-secondary);
	}

	&-accent {
		color: var(--accent-brand-color);
	}

	&-positive {
		color: var(--accent-positive-color);
	}

	&-negative {
		color: var(--accent-negative-color);
	}

	// Text Transform

	&-uppercase {
		text-transform: uppercase;
	}

	&-lowercase {
		text-transform: lowercase;
	}

	&-capitalize {
		text-transform: capitalize;
	}

	&-normal-case {
		text-transform: none;
	}

	// Text Overflow

	&-truncate {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&-ellipsis {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&-clip {
		overflow: hidden;
		text-overflow: clip;
		white-space: nowrap;
	}

	// Text Wrap

	&-wrap {
		text-wrap: wrap;
	}

	&-nowrap {
		text-wrap: nowrap;
	}

	&-balance {
		text-wrap: balance;
	}

	&-pretty {
		text-wrap: pretty;
	}
}

// Borders ———————————————————————————————————————————————— //

.ui-rounded {
	&-xsm {
		border-radius: $ui-rounded--xsm;
	}

	&-sm {
		border-radius: $ui-rounded--sm;
	}

	&-md {
		border-radius: $ui-rounded--md;
	}

	&-l {
		border-radius: $ui-rounded--l;
	}

	&-xl {
		border-radius: $ui-rounded--xl;
	}

	&-2xl {
		border-radius: $ui-rounded--2xl;
	}

	&-3xl {
		border-radius: $ui-rounded--3xl;
	}

	&-4xl {
		border-radius: $ui-rounded--4xl;
	}

	&-5xl {
		border-radius: $ui-rounded--5xl;
	}
}

// Animation ———————————————————————————————————————————————— //

.ui-animate {
	&-none {
		animation: none;
	}

	&-spin {
		@include ui-animate-spin;
	}

	&-ping {
		@include ui-animate-ping;
	}

	&-bounce {
		@include ui-animate-bounce;
	}
}

// Other ———————————————————————————————————————————————— //

.ui-scrollbar-stable {
	@media (min-width: $ui-max-w--mobile) {
		scrollbar-gutter: stable;
	}
}

// Skeleton Style

.ui-skeleton {
	@include ui-flex-container(flex, center, center);

	position: relative;
	overflow: hidden;

	background: var(--background--alpha) !important;

	&::after {
		content: '';

		@include ui-size-control(100%, 100%);
		@include ui-flex-container(flex, $items: center);

		@include ui-animate-pulse;

		position: absolute;
		background: var(--background--alpha);
	}
}
