// MTS Wide ———————————————————————————————————————————————— //

@font-face {
	font-family: $MTSWide;
	src: url('../fonts/mts/woff2/Wide/MTSWide-Light.woff2') format('woff2'),
		url('../fonts/mts/woff/Wide/MTSWide-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: $MTSWide;
	src: url('../fonts/mts/woff2/Wide/MTSWide-Regular.woff2') format('woff2'),
		url('../fonts/mts/woff/Wide/MTSWide-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: $MTSWide;
	src: url('../fonts/mts/woff2/Wide/MTSWide-Medium.woff2') format('woff2'),
		url('../fonts/mts/woff/Wide/MTSWide-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: $MTSWide;
	src: url('../fonts/mts/woff2/Wide/MTSWide-Bold.woff2') format('woff2'),
		url('../fonts/mts/woff/Wide/MTSWide-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: $MTSWide;
	src: url('../fonts/mts/woff2/Wide/MTSWide-Black.woff2') format('woff2'),
		url('../fonts/mts/woff/Wide/MTSWide-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

// MTS Expanded ———————————————————————————————————————————————— //

@font-face {
	font-family: $MTSExpanded;
	src: url('../fonts/mts/woff2/Extended/MTSExtended-Regular.woff2')
			format('woff2'),
		url('../fonts/mts/woff/Extended/MTSExtended-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: $MTSExpanded;
	src: url('../fonts/mts/woff2/Extended/MTSExtended-Medium.woff2')
			format('woff2'),
		url('../fonts/mts/woff/Extended/MTSExtended-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: $MTSExpanded;
	src: url('../fonts/mts/woff2/Extended/MTSExtended-Bold.woff2') format('woff2'),
		url('../fonts/mts/woff/Extended/MTSExtended-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: $MTSExpanded;
	src: url('../fonts/mts/woff2/Extended/MTSExtended-Black.woff2')
			format('woff2'),
		url('../fonts/mts/woff/Extended/MTSExtended-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

// MTS UltraExpanded ———————————————————————————————————————————————— //

@font-face {
	font-family: $MTSUltraExpanded;
	src: url('../fonts/mts/woff2/UltraExtended/MTSUltraExtended-Regular.woff2')
			format('woff2'),
		url('../fonts/mts/woff/UltraExtended/MTSUltraExtended-Regular.woff')
			format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: $MTSUltraExpanded;
	src: url('../fonts/mts/woff2/UltraExtended/MTSUltraExtended-Medium.woff2')
			format('woff2'),
		url('../fonts/mts/woff/UltraExtended/MTSUltraExtended-Medium.woff')
			format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: $MTSUltraExpanded;
	src: url('../fonts/mts/woff2/UltraExtended/MTSUltraExtended-Bold.woff2')
			format('woff2'),
		url('../fonts/mts/woff/UltraExtended/MTSUltraExtended-Bold.woff')
			format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: $MTSUltraExpanded;
	src: url('../fonts/mts/woff2/UltraExtended/MTSUltraExtended-Black.woff2')
			format('woff2'),
		url('../fonts/mts/woff/UltraExtended/MTSUltraExtended-Black.woff')
			format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

// VK Sans Display ———————————————————————————————————————————————— //

@font-face {
	font-family: $VkSans;
	src: url('../fonts/vk-sans/woff2/VKSansDisplay-Light.woff2') format('woff2'),
		url('../fonts/vk-sans/woff/VKSansDisplay-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: $VkSans;
	src: url('../fonts/vk-sans/woff2/VKSansDisplay-Regular.woff2') format('woff2'),
		url('../fonts/vk-sans/woff/VKSansDisplay-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: $VkSans;
	src: url('../fonts/vk-sans/woff2/VKSansDisplay-Medium.woff2') format('woff2'),
		url('../fonts/vk-sans/woff/VKSansDisplay-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: $VkSans;
	src: url('../fonts/vk-sans/woff2/VKSansDisplay-DemiBold.woff2')
			format('woff2'),
		url('../fonts/vk-sans/woff/VKSansDisplay-DemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: $VkSans;
	src: url('../fonts/vk-sans/woff2/VKSansDisplay-Bold.woff2') format('woff2'),
		url('../fonts/vk-sans/woff/VKSansDisplay-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: fallback;
}

// Heading ———————————————————————————————————————————————— //

h1 {
	font-family: $MTSUltraExpanded;
	font-size: 64px;
	font-style: normal;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1.125em;
}

h2 {
	font-family: $MTSExpanded;
	font-size: 40px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2em;
}

h3 {
	font-family: $MTSWide;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.333335em;
}

h4 {
	font-family: $VkSans;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.4em;
}

h5 {
	font-family: $VkSans;
	font-size: 17px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.411765em;
}

h6 {
	font-family: $VkSans;
	font-size: 13px;
	font-style: normal;
	font-weight: 300;
	line-height: 1.384617;
}
