@import 'Common', 'Fonts', 'Reset', 'Theme';

:root {
	font-family:
		$ui-font-secondary,
		BlinkMacSystemFont,
		Roboto,
		-apple-system,
		'Segoe UI',
		'Helvetica Neue',
		'Noto Sans',
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol',
		'Noto Color Emoji',
		Arial,
		Helvetica,
		sans-serif;

	font-size: clamp(17px, 3.6vmin, 20px);
	font-weight: normal;
	line-height: 1.4em;

	background: var(--background);
	color: var(--text-primary);

	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	word-break: break-word;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	transition: all 0.08s ease-in;
}

html {
	box-sizing: border-box;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
}

*::selection {
	background-color: var(--accent-brand-color);
	color: var(--text-contrast);
}

#root {
	min-width: 100%;
	margin: 0 auto;
}

body,
div,
nav {
	&::-webkit-scrollbar {
		width: 4px;
		height: 4px;
		background: transparent;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--separator);
		border-radius: $ui-rounded--xsm;
	}
}
