@import 'assets/styles/Variables';

// levels

.level-1 {
	font-family: $ui-font-secondary;
	font-weight: normal;
	font-size: 24px;
	line-height: 1.333334em;
}

.level-2 {
	font-size: 20px;
	line-height: 1.4em;
}

.level-3 {
	font-size: 17px;
	line-height: 1.4118em;
}
