@import 'assets/styles/Variables';

.root {
	.list {
		@include ui-flex-container(flex, $items: center, $wrap: wrap);

		gap: $ui-step * 3;
		row-gap: $ui-step;

		list-style: none;
		list-style-type: none;
	}

	.link {
		position: relative;

		&::after {
			content: '';

			@include ui-absolute-center;
			@include ui-size-control(
				calc(100% + $ui-step * 4),
				calc(100% + $ui-step)
			);

			transition: 0.08s ease-in;
			border-radius: $ui-rounded--xsm;
			z-index: -1;
		}

		&:hover {
			&::after {
				background: var(--button-secondary);
			}
		}
	}

	.disabled {
		&::after {
			@include ui-flex-container(none);
		}
	}

	.separator {
		user-select: none;
	}
}
